
/* ====== Edit/New Role Screen. ====== */

.misc-pub-theme-sticky .dashicons {
	color: rgb( 130, 135, 140 );
}

.misc-pub-theme-sticky label {
	display: block;
	margin: 8px 0 8px 2px;
}

/* === Edit Capabilities Tabs === */

/* Wrapper box */

#thds-theme-tabs { margin-top: 20px; margin-bottom: 0; }

	#thds-theme-tabs > h3 {
		padding:       10px;
		border-bottom: 1px solid #eee;
	}

	#thds-theme-tabs .inside {
		margin:  0;
		padding: 0;
	}

/* Tabs wrapper. */

.thds-fields-manager {
	overflow:   hidden;
	background: #fff;
	background: linear-gradient( 90deg, #fafafa 0%, #fafafa 20%, #fff 20%, #fff 100% );
}

	@media only screen and ( max-width: 782px ) {

		.thds-fields-manager {
			background: linear-gradient( 90deg, #fafafa 0%, #fafafa 48px, #fff 48px, #fff 100% );
		}
	}

	/* Tab nav. */

	.thds-fields-nav {
		position:         relative;
		float:            left;
		list-style:       none;
		width:            20%;
		line-height:      1em;
		margin:           0 0 -1px 0;
		padding:          0;
		background-color: #fafafa;
		border-right:     1px solid #eee;
		box-sizing:       border-box;
	}

		.thds-fields-nav li {
			display:     block;
			position:    relative;
			margin:      0;
			padding:     0;
			line-height: 20px;
		}

			.thds-fields-nav li a {
				display:         block;
				margin:          0;
				padding:         10px;
				line-height:     20px !important;
				text-decoration: none;
				border-bottom:   1px solid #eee;
				box-shadow:      none;
			}

				.thds-fields-nav li a .dashicons {
					line-height:  20px;
					margin-right: 3px;
				}

			.thds-fields-nav li[aria-selected="true"] a {
				position:         relative;
				font-weight:      bold;
				color:            #555;
				background-color: #e0e0e0;
			}

	@media only screen and ( max-width: 782px ) {

		.thds-fields-nav { width: 48px; }

		.thds-fields-nav li a .dashicons {
			width:       24px;
			height:      24px;
			font-size:   24px;
			line-height: 24px;
		}

			.thds-fields-nav li .dashicons::before {
				width:  24px;
				height: 24px;
			}

		.thds-fields-nav li .label {
			overflow: hidden;
			position: absolute;
			top:      -1000em;
			left:     -1000em;
			width:    1px;
			height:   1px;
		}
	}

	/* Tab content wrapper */

	.thds-fields-content {
		float:       left;
		width:       80%;
		margin-left: -1px;
		border-left: 1px solid #eee;
	}

	@media only screen and ( max-width: 782px ) {

		.thds-fields-content {
			width: calc( 100% - 48px );
		}
	}


/* === Content === */

.thds-fields-section {
		padding:     12px 12px 0;
		box-sizing: border-box;
}

.thds-fields-control {
	margin-bottom: 20px;
}

	.thds-fields-label { font-weight: bold; display: inline-block; margin-bottom: 2px; }

.thds-fields-control #excerpt {
	height: 125px;
	margin: 0;
}
